body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.first-part{
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}
.first-part-div{
    text-align: center;
    color: white;
    padding: 150px;
}
.first-part-div h1{
    font-size: 50px;
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}
.second-part{
    text-align: center;
    margin: 50px;
    padding: 10px;
}
.h1-tag{
    font-size: 35px;
    font-weight: 700;
}
.button-tk{
    padding: 30px;
    margin: 30px 5px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}
#second-button{
    color: tomato;
    border: 2px solid tomato;
    background-color: rgba(245, 221, 217, 0.966);
}
#input{
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid black;
    height: 50px;
    width: 40%;
    text-align: center;
}
.third-part{
    text-align: center;
}
.Donate-Plan{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.Food-for-a-family{
    margin: 20px;
    background-color:rgba(214, 241, 245, 0.555);
    padding: 20px;
    height: 300px;
    text-align: left;
}
.Shelter-for-a-family{
    margin: 20px;
    background-color:rgba(255, 228, 225, 0.712);
    padding: 20px;
    height: 300px;
    text-align: left;
}
.Education-for-a-child{
    margin: 20px;
    background-color:rgba(255, 250, 205, 0.692);
    padding: 20px;
    height: 300px;
    text-align: left;
}
.firsr-icon{
    width: 50px;
}
.third-icon{
    width: 50px;
}
.donation-serve{
    padding: 2%;
    width: 50%;
}
.donation-serve img{
    width: 100%;
    border-radius: 5px;
}
.last-part{
    text-align: center;
    margin: 10px;
}
.email{
    background-color: rgba(255, 232, 193, 0.904);
    padding: 100px;
    margin: 0% 10%;
}
#span-one{
    padding: 5px 200px 5px 5px;
    background-color: grey;
}
#span-two{
    padding: 5px;
    background-color: red;
}

footer{
    background-color: black;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
}
footer h1{
    color: red;
}
footer p{
    color: white;
}
    